/*
    PASSWORD STRENGTH
*/
.password-strength{
    margin-top: 10px;
    display: block; 
    margin-bottom: 10px;
    height: 10px; 
    width: 80px;
    transition: ease all .4s; 

    &.poor{
        width:20%;
        background-color: #bdc3c7;
    }
    &.too-short{
        width:20%;
        background-color: #c0392b;
    }
    &.weak{
        width:40%;
        background-color: #f39c12 ;
    }
    &.reasonable{
        width:60%;
        background-color: #f1c40f;
    }
    &.good{
        width:80%;
        background-color: #1abc9c;
    }
    &.strong{
        width:100%;
        background-color: #27ae60;
    }

}
