/*
    Learlinq
    ********

    Modifications fot ui-grid
*/

/*
      *{
            background-color: blue !important;
        }

  */



/*
    Background color row selected
*/
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell,
.ui-grid-row.ui-grid-row-selected:hover > [ui-grid-row] > .ui-grid-cell {
    background-color: $grid-selected-row;
}

/* Hover row*/

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background: $grid-row-odd-bg;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background: $grid-row-even-bg;
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell {
    background: $grid-row-hover;
}

.ui-grid-row:nth-child(even):hover .ui-grid-cell {
    background: $grid-row-hover;
}



.ui-grid {
    border: 1px solid $grid-border-color;
    /* Top panel*/
    .ui-grid-header {
        border: none;
        border-bottom: 1px solid $grid-border-color;

        .ui-grid-top-panel {
            background: $grid-secundary-color;
            max-height: 27px;
            font-weight: 600;

            .ui-grid-cell-contents {
                line-height: 17px;
                max-height: 27px;
            }

            .ui-grid-header-cell {
            }
        }
    }
    /* Content table*/
    .ui-grid-viewport {
        border: none;


        .ui-grid-cell-contents {
            cursor: pointer;
            line-height: 30px;
            padding-left: 10px;
        }


        .ui-grid-row {

            .ui-grid-header-cell {
                border: none;
            }

            .ui-grid-cell {
                border-right: 1px solid $grid-secundary-color;
                border-bottom: 1px solid $grid-secundary-color;
            }
        }

        .ui-grid-pager-count {
            margin-top: 3px;
            margin-right: 10px;
        }
        /*
            Color of the text in a selected row
        */
        .ui-grid-row-selected.ui-grid-row .ui-grid-cell {
            // color: white;
        }
    }
    /*
    select box 
*/
    .left {

        .ui-grid-header {
            .ui-grid-selection-row-header-buttons {
                opacity: 0;
            }
        }

        .ui-grid-cell-contents {
            padding: 5px 4px;
        }

        .ui-grid-selection-row-header-buttons.ui-grid-row-selected {
            opacity: 1;
        }

        .ui-grid-row {
                &:nth-child(odd), &:nth-child(even) {
                    .ui-grid-cell, .ui-grid-cell:hover {
                        background: $grid-row-even-bg;
                    }
                }
            }
        
        // Selected
        .ui-grid-row-selected {
            &.ui-grid-row {
                &:nth-child(odd), &:nth-child(even) {
                    .ui-grid-cell, .ui-grid-cell:hover {
                        background: $grid-selected-row;
                    }
                }
            }
        }


        .ui-grid-selection-row-header-buttons {
            opacity: 1;
        }

        .ui-grid-icon-ok:before {
            width: 15px;
            height: 15px;
            font-size: .9em;
            line-height: 15px;
            color: white;
            //background-color:$grid-row-odd-bg;
            content: 'a';
            border: 1px solid #aaaaaa;
        }

        .ui-grid-row-selected.ui-grid-icon-ok:before {
            width: 15px;
            height: 15px;
            font-size: .9em;
            line-height: 15px;
            color: white;
            background-color: $color-checkbox-bg2;
            content: '\c362';
            //border: 1px solid #aaaaaa;
        }
    }
}







.portlet-complete .grid {
    position: absolute;
    top: 53px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
// FIX THIS STYLES
.watermark {
    position: absolute;
    top: 80px;
    opacity: 0.25;
    font-size: 2em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
