body {
    // Delete the rebound in MacOS
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
}

/*
* Page Loading
* in app view
*/

#page-content-view {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
}

.hide {
    display: none
}

a {
    cursor: pointer;
    &:hover{
        text-decoration: none !important;
    }
}
b,strong{
    font-weight: 600;
}

// Styles to fix angular bootstrap-ui
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: auto;
}

// Disable select except parragrapsh and links
*{
    //-webkit-user-select: none;
    //-khtml-user-select: none;
    //-moz-user-select: none;
    //-o-user-select: none;
    //user-select: none;
}
.portlet, .modal{
    p, a, label, input, span, div, strong, li, h1,h2,h3,h4,h5,h6{
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
    }
}

// Delete shadow of the elements
.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

// Box with no results message
.no-results{
    color:$button-filter-text;
    font-size: 1.2em;
    font-weight: 300;
    background-color: $list-bc;
    height: 55px;
    border-left: 3px solid darken($list-bc-hover, 5%);
    padding: 15px;

    //&:hover{
    //    background-color: $list-bc-hover;
    //}
}
