/**
* Responsive rules
*/

.mobile-version-msg{
    display: none;
}

/* Desktop > 992px */
@media (min-width: $screen-md-min) {

}

/* Tablets 481 <> 991px */
@media (max-width: $screen-sm-max) {

}

/*Mobile < 480px */
@media (max-width: $screen-xs-min) {

    // SHOW THE MESSAGE IN THE HOME SCREEN OF "Mobile version comming"

    #page-content-view,
    .page-header.navbar .menu-toggler,
    .dropdown-toggle {
        display: none !important;
    }
    .page-header, .page-header.navbar .page-top{
        background-color: white;
        box-shadow: none !important;
        height: 0;
    }
    .main-container{
        top:-20px !important;
    }
    .page-top{
        text-align: center;
        height: 0;
        margin: 0;
        padding-top: 10px;
        background-color: white;
        box-shadow: none;
    }
    .logo-company{
        max-width: 80%;
        float: inherit !important;
        margin: 0;
        height: 0;
        text-align: center;
    }
    img.logo-default{
        max-width: 80%;
        margin: 5px 0 0 40px;
    }


    .no-mobile{
        display: none;
    }

    .mobile-version-msg{
        &.login{
            margin-top: 60px;
            color: white;
        }
        display: block;
        text-align: center;
        img{
            width:60%;
            height: auto;
        }
    }
}
