<!--To detecd the predominant color!!-->
<!--https://github.com/ianmurrays/ngColorThief-->


<!-- Bar with breadcrumbs -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-layers"></i>
            <a href="index.html">Library</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Template Builder</a>
        </li>
    </ul>

    <div class="flex"></div>
    <div class="actions">
        <button class="btn  btn-sm btn-primary"><i class="fa fa-eye"></i> Preview</button>
        <a href="">Delete draft</a>
        <button class="btn  btn-sm btn-primary">Save draft</button>
        <button class="btn  btn-sm btn-primary">Publish</button>
    </div>

</div>


<!-- Content -->

<div class="portlet light ">

    <!-- Main template -->
    <div class="row">

        <h3> {{llqtemplate.title}}</h3>
        <p>Is secuential: {{llqtemplate.isSequential}}</p>

        <!--Add button-->
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-primary" dropdown-toggle>Add <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
                <li ><a data-nodrag ng-click="newElement(llqtemplate.mainContainer)" href="#">Item</a>
                </li>
                <li ><a data-nodrag ng-click="newContainer(llqtemplate.mainContainer, true)" href="#">Container</a></li>
            </ul>
        </div>

        <hr/>

        <!--  Elements in template -->


        <div class="col-sm-6">

            <div ui-tree id="tree1-root">

                <ol ui-tree-nodes="" ng-model="llqtemplate.mainContainer">
                    <li ui-tree-node ng-repeat="node in llqtemplate.mainContainer"
                        ng-include=" (node.type == 'element')? 'template-element.html': 'template-container.html'"></li>
                </ol>
            </div>
        </div>
        <div class="col-sm-6">
            <pre class="code">{{ llqtemplate | json }}</pre>
        </div>

    </div>


    <!--<div ui-tree id="tree1-root">-->
    <!--<ol ui-tree-nodes="" ng-model="tree1">-->
    <!--<li ng-repeat="node in tree1" ui-tree-node ng-include="'nodes_renderer1.html'"></li>-->
    <!--</ol>-->
    <!--</div>-->


    <!--<div class="col-sm-4">Show a tree</div>-->
    <!--<div ng-include="'container-sequential.html'"></div>-->


    <!-- Nested node template -->

    <!--<script type="text/ng-template" id="nodes_renderer1.html">-->
    <!--<div ui-tree-handle class="tree-node tree-node-content">-->
    <!--<div class="tree-node-content">-->
    <!--<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>-->
    <!--{{node.title}}-->
    <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>-->
    <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">-->
    <!--<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'">-->
    <!--</li>-->
    <!--</ol>-->
    <!--</script>-->


    <script type="text/ng-template" id="template-element.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <div class="tree-node-content" class="col-sm-4">
                <input type="text" ng-model="node.title">
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="template-container.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <div class="tree-node-content">
                <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                <input type="text" ng-model="node.title">
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>


                <div class="btn-group pull-right" dropdown>
                    <button id="button-template-url" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                        Add <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
                        <li role="menuitem"><a data-nodrag ng-click="newElement(this)" href="#">Element</a></li>
                        <li role="menuitem"><a data-nodrag ng-click="newContainer(this, true)" href="#">Container</a></li>
                    </ul>
                </div>


            </div>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">

            <!-- IF IS AN ELEMENT-->
            <li ng-repeat="node in node.nodes" ui-tree-node
                ng-include=" (node.type == 'element')? 'template-element.html': 'template-container.html'"></li>

            <!-- IF IS A CONTAINER-->
            <!--<div ng-include="'container-sequential.html'"></div>-->

        </ol>


        <!-- if the container has a tree inside -->
        <!--<ol ui-tree-nodes="" ng-model="tree.nodes">-->
        <!--<li ng-repeat="node in tree.nodes" ui-tree-node ng-include="'template-element.html'"></li>-->
        <!--</ol>-->


    </script>


    <!--&lt;!&ndash; Tree template&ndash;&gt;-->
    <!--<script type="text/ng-template" id="container-sequential.html">-->
    <!--<div ui-tree>-->
    <!--<ol ui-tree-nodes="" ng-model="treee" id="tree-root">-->
    <!--<li ng-repeat="item in treee" ui-tree-node ng-include="'nodes_renderer.html'"></li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--</script>-->


    <!--&lt;!&ndash; Nested node template &ndash;&gt;-->
    <!--<script type="text/ng-template" id="nodes_renderer.html">-->
    <!--<div ui-tree-handle>-->
    <!--{{item.title}}-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="node.nodes">-->
    <!--<li ng-repeat="item in item.nodes" ui-tree-node ng-include="'nodes_renderer.html'">-->
    <!--</li>-->
    <!--</ol>-->
    <!--</script>-->


    <!--<div ui-tree>-->
    <!--<ol ui-tree-nodes="" ng-model="list">-->
    <!--<div class="template-container" ng-repeat="item in val.items">-->
    <!--<div class="header">-->
    <!--<div class="title">-->
    <!--<img src="{{val.icon}}" alt="Template Image"/>-->
    <!--<span class="caption-subject font-red-sunglo bold uppercase">{{val.name}}</span>-->
    <!--</div>-->
    <!--<div class="flex"></div>-->
    <!--<div class="actions">-->
    <!--<a class="collapse-button" ng-class="isCollapse ? 'expand' : 'collapse'" ng-click="isCollapse = !isCollapse"></a>-->
    <!--<a class="btn btn-circle btn-icon-only btn-default" href="#" ng-click="deleteMe()" ng-show="val.name"><i class="icon-trash"></i></a>-->
    <!--<a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-wrench"></i></a>-->
    <!--<a class="btn btn-circle btn-icon-only btn-default" href="#"><i class="icon-info"></i></a>-->
    <!--<a class="btn green-haze btn-circle btn-sm" href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="fa fa-plus"></i>Add</a><span class="number-data">{{val.number}}</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--<div class="body"></div>-->
    <!--</div>-->
    <!--</ol>-->
    <!--</div>-->


    <!--<div ui-tree>-->
    <!--<ol ui-tree-nodes="" ng-model="list">-->
    <!--<li ng-repeat="item in list" ui-tree-node class="template-container">-->
    <!--<div ui-tree-handle>-->
    <!--{{item.title}}-->
    <!--</div>-->
    <!--<ol ui-tree-nodes="" ng-model="item.items">-->
    <!--<li ng-repeat="subItem in item.items" ui-tree-node>-->
    <!--<div ui-tree-handle>-->
    <!--{{subItem.title}}-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</div>-->


    <!--<div class="portlet-title main-template">-->

    <!--<div class="caption">-->
    <!--<img src="{{containers.icon}}" width="50" alt="Template Image"/>-->
    <!--<span class="caption-subject font-red-sunglo bold uppercase">-->
    <!--{{containers.mainName}}-->
    <!--</span>-->
    <!--</div>-->

    <!--<div class="actions">-->
    <!--<a class="btn btn-circle btn-icon-only btn-default" href="#">-->
    <!--<i class="icon-wrench"></i>-->
    <!--</a>-->

    <!--<a class="btn green-haze btn-circle btn-sm" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Add-->
    <!--</a>-->
    <!--<span class="number-container">-->
    <!--{{containers.number}}-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<llq-template-container val="containers"></llq-template-container>-->

</div>