<!--To detecd the predominant color!!-->
<!--https://github.com/ianmurrays/ngColorThief-->


<!-- Bar with breadcrumbs -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-layers"></i>
            <a href="index.html">Library</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Template Builder</a>
        </li>
    </ul>

    <div class="flex"></div>
    <div class="actions">
        <button class="btn  btn-sm btn-primary"><i class="fa fa-eye"></i> Preview</button>
        <a href="">Delete draft</a>
        <button class="btn  btn-sm btn-primary">Save draft</button>
        <button class="btn  btn-sm btn-primary">Publish</button>
    </div>
</div>

<div class="portlet light template-builder">
    <div class="main-template">
        <div class="header">
            <div class="title">
                <img src="{{llqtemplate.icon}}" alt="Template Image"/>
                <span class="caption-subject font-red-sunglo bold uppercase">{{llqtemplate.title}}</span>
            </div>
            <div class="flex"></div>
            <div class="actions">
                <button type="button" class="btn btn-xs btn-info"
                        ng-model="llqtemplate.sequential"
                        btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
                        data-nodrag>
                    sequential
                    </button>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary" dropdown-toggle>Add <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
                            <li><a data-nodrag ng-click="newElement(llqtemplate.mainContainer)" href="#">Item</a>
                            </li>
                            <li>
                                <a data-nodrag ng-click="newContainer(llqtemplate.mainContainer, true)" href="#">Container</a>
                            </li>
                        </ul>
                    </div>
                    <span class="number-data">{{llqtemplate.number}}</span>
            </div>
        </div>
        <hr/>
        <div ui-tree ng-class="{sequential: llqtemplate.sequential}">
            <ol ui-tree-nodes="" ng-model="llqtemplate.mainContainer">
                <li ui-tree-node data-horizontal="" ng-repeat="node in llqtemplate.mainContainer"
                    ng-include="'template-'+node.type+'.html'"></li>
            </ol>
        </div>
    </div>


    <pre class="code">{{ llqtemplate | json }}</pre>


    <!--
    ==============================
            TEMPLATES
    ==============================
    -->
    <script type="text/ng-template" id="template-element.html">
        <div class="llqtemplate-element">
            <div ui-tree-handle class="header">
                <div class="title">
                    <img class="template-builder-icon" src="{{node.icon}}" alt="Template Image"/>
                    <span class="caption-subject font-red-sunglo bold uppercase">{{node.title}}</span>
                    <!--<input type="text" ng-model="node.title">-->
                </div>
                <div class="flex"></div>
                <div class="actions">
                    <!--<a class="collapse-button" data-nodrag ng-click="toggle(this)" ng-class="collapsed ? 'expand' : 'collapse'" ng-click="collapsed = !collapsed"></a>-->
                    <a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                    {{node.number}}
                </div>
            </div>
            <div class="body">
                <p>Element preferences</p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="template-container.html">
        <div class="template-container">
            <div ui-tree-handle class="header">
                <div class="title">
                    <img class="template-builder-icon" src="{{node.icon}}" alt="Template Image"/>
                    <span class="caption-subject font-red-sunglo bold uppercase">{{node.title}}</span>
                    <!--<input type="text" ng-model="node.title">-->
                </div>
                <div class="flex"></div>
                <div class="actions">


                    <button type="button" class="btn btn-xs btn-info"
                            ng-model="node.sequential"
                            btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
                            data-nodrag>
                        sequential
                    </button>


                    <!--<a class="collapse-button" data-nodrag ng-click="toggle(this)" ng-class="collapsed ? 'expand' : 'collapse'" ng-click="collapsed = !collapsed"></a>-->
                    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                    <a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>

                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            Add <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="button-template-url">
                            <li role="menuitem"><a data-nodrag ng-click="newElement(this)" href="#">Element</a></li>
                            <li role="menuitem">
                                <a data-nodrag ng-click="newContainer(this, true)" href="#">Container</a></li>
                        </ul>
                    </div>
                    {{node.number}}
                </div>
            </div>
            <hr/>
            <div class="body" ng-class="{sequential: node.sequential}">
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.nodes" ui-tree-node
                        data-horizontal=""
                        ng-include="'template-'+node.type+'.html'"></li>
                </ol>
            </div>
        </div>
    </script>
</div>