
//Sidebar
.main-container-wrapper {
    .page-content-wrapper {
        @include transition(left, .3s, ease);
    }
    .page-sidebar {
        @include transition(width, .3s, ease);
        li {
            //@include transition(height, .3s, ease);
        }

        span.title {
            opacity: 1;
            width: 160px;
            @include transition(opacity, .3s, ease);
        }
    }

    &.sidebar-closed {

        .page-content-wrapper {
            left: 54px;
        }
        .page-sidebar {
            width: 54px;
            ul {

                span.title {
                    opacity: 0;
                    display: none;
                    @include transition(opacity, 0s, ease)

                }
                span.arrow {
                    margin-top: -25px;
                }
                .sub-menu {
                    margin-top: -55px;
                    margin-left: 54px;
                    li {
                        height: 39px;
                    }
                }
                li {
                    height: 55px;

                    a {
                        min-height: 0;
                        padding-left: 10px;
                    }
                    span.selected {
                        right: -2px;
                        top: 16px;
                    }
                }
            }
        }
    }
}
